@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  display: flex;
  font-family: "Inter", sans-serif;
}
.body__div--mascaraModalExcluir {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 99vh;
  width: 99vw;
  position: absolute;
  top: 0;
  left: 0;
}

.div__div--ExcluirModalProduto {
  margin-top: 7%;
  flex-direction: column;
  background-color: white;
  width: 500px;
  height: 270px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;

}
.div__div--ExcluirModalCabecalho {
  border-radius: 5px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;


}

.div__h3--tituloModalExcluir {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  
}
.div__button--botaoModalFechar {
  background-color: #e9ecef;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  
}
.div__div--BoxModalExcluir{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.div__h3--nomeModalExcluir {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}


.div__button--botaoModalExcluir {
    border: none;
    border-radius: 20px;
    flex-direction: row;
    width: 40%;
    height: 52px;
    font-style: 16px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #f8f9fa;
    color: #868e96;
  }
.div__div--botaoModalExcluir{
    margin-top: 20px;
    gap: 20px;
    width: 80%;

}  


@media (max-width: 900px) {
    .div__button--botaoModalExcluir {
        border: none;
        border-radius: 20px;
        flex-direction: row;
        width: 40%;
        height: 52px;
        font-style: 16px;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        background-color: #f8f9fa;
        color: #868e96;
      }

  .div__div--botaoModalExcluir{
    margin-top: 20px;
    gap: 20px;

}  
}